{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="static/js/admin_transactions.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container-fluid">
    <table id="transactions" class="table">
        <thead>
            <th scope="col" style="width: 2em;">ID</th>
            <th scope="col">Short description</th>
            <th scope="col" style="width: 2em;">When created</th>
        </thead>
        <tbody />
    </table>
</div>
{% endblock %}
