{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="static/js/wallet.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container-fluid">
    <div class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="balance">Your balance</label>
                </div>
                <input id="balance" class="form-control" disabled value="{{ balance }}"/>
                <div class="input-group-append">
                    <label class="input-group-text" for="balance">₩</label>
                </div>
            </div>
        </div>
    </div>
    <h4>Payments</h4>
    <table id="payments" class="table">
        <thead>
            <th></th>
            <th scope="col" style="width: 2em;">Payment&nbsp;ID</th>
            <th scope="col">Order&nbsp;ID</th>
            <th scope="col">Payment&nbsp;method</th>
            <th scope="col" style="width: 2em;">Amount</th>
            <th scope="col" style="width: 2em;">Amount (KRW)</th>
            <th scope="col" style="width: 2em;">Status</th>
            <th scope="col" style="width: max-content;">When created</th>
            <th scope="col" style="width: max-content;">When changed</th>
        </thead>
        <tbody />
    </table>
    <h4>Transactions</h4>
    <table id="transactions" class="table">
        <thead>
            <th scope="col" style="width: 2em;">Transaction&nbsp;ID</th>
            <th scope="col" style="width: 2em;">Amount</th>
            <th scope="col" style="width: 2em;">Balance</th>
            <th scope="col" style="width: 2em;">Created by</th>
            <th scope="col" style="width: 2em;">When created</th>
        </thead>
        <tbody />
    </table>
</div>
<div class="container row payment-details" style="display: none;">
    <div class="row container">
        <img id="evidence" class="col-4" />
        <div class="col-1">&nbsp;</div>
        <div class="col-4">
            <button type="button" class="btn btn-primary btn-cancel">Cancel payment request</button>
        </div>
    </div>
</div>
{% endblock %}
