alembic==1.12.1
amqp==5.2.0
Babel==2.13.1
beautifulsoup4==4.12.3
billiard==3.6.4.0
blinker==1.7.0
cachelib==0.9.0
celery==5.2.6
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
coverage==7.3.4
cryptography==41.0.5
cssselect==1.1.0
dnspython==2.4.2
dominate==2.8.0
email-validator==1.1.1
et-xmlfile==1.1.0
Flask==2.1.2
Flask-Admin==1.5.6
Flask-BabelEx==0.9.4
Flask-Bootstrap==3.3.7.1
Flask-Caching==2.1.0
Flask-Debug-API==0.1.0
Flask-DebugToolbar==0.11.0
Flask-DebugToolbar-LineProfilerPanel==1.0.2
Flask-HTTPAuth==4.1.0
Flask-Inputs==0.3.0
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
flask-navbar==1.0
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
future==0.18.3
hashring==1.5.1
idna==3.4
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.0.3
kombu==5.3.3
line-profiler==4.1.2
linecache2==1.0.0
lxml==4.9.1
lxml-stubs==0.4.0
Mako==1.3.0
MarkupSafe==2.1.3
more-itertools==8.4.0
mysqlclient==2.2.4
neo4j-driver==4.3.6
neobolt==1.7.17
neomodel==4.0.7
numpy==1.26.2
openpyxl==3.0.10
packaging==23.2
pandas==1.5.2
passlib==1.7.4
paypal-checkout-serversdk==1.0.1
paypalhttp==1.0.0
pdfkit==0.6.1
pluggy==1.3.0
prompt-toolkit==3.0.41
psutil==6.0.0
pycparser==2.21
pylibmc==1.6.3
pyOpenSSL==23.3.0
pytest==7.4.3
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
Shapely==1.7.1
six==1.16.0
soupsieve==2.5
speaklater==1.3
SQLAlchemy==1.3.20
tqdm==4.56.2
traceback2==1.4.0
types-requests==2.31.0.10
types-tqdm==4.66.0.4
typing_extensions==4.8.0
tzlocal==2.1
unittest2==1.1.0
urllib3==2.1.0
vine==5.1.0
visitor==0.1.3
wcwidth==0.2.10
Werkzeug==2.0.3
WTForms==3.1.1
