blinker
bs4
celery
cssselect==1.1.0
Flask>=2.3,<3
Flask-Bootstrap==3.3.7.1
Flask-Caching==2.1.0
Flask-Inputs==0.3.0
Flask-Migrate>=4.0,<5
Flask-Security-Too>=5.4,<6
Flask-SQLAlchemy>=3.1,<4
Flask-WTF>=1.0
Jinja2>=3.1.2
lxml
more_itertools
mysqlclient==2.2.4
neomodel
openpyxl==3.0.10
pandas
paypal-checkout-serversdk
playwright==1.58.0
psutil
python-memcached
pytz
requests
setuptools
SQLAlchemy>=2.0,<3
stripe
tqdm
tzlocal
Werkzeug>=2.3,<3
