celery==5.0.1
cssselect==1.1.0
email-validator==1.1.1
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-Debug-API==0.1.0
Flask-DebugToolbar==0.11.0
Flask-DebugToolbar-LineProfilerPanel==1.0.2
Flask-Migrate==2.5.3
Flask-Security==3.0.0
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
lxml==4.5.2
more-itertools==8.4.0
mysqlclient==2.0.1
openpyxl==3.0.4
selenium==3.141.0
