{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="static/js/ems.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container-fluid">
    <table id="shipping" class="table">
        <thead>
            <th scope="col" style="width: 1em;">Country name</th>
            <th scope="col" style="width: 100%;">Rate</th>
        </thead>
        <tbody />
    </table>
</div>
<div class="wait position-fixed" style="display: none;">
    <img src="/static/images/wait.gif" />
</div>
{% endblock %}