{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="static/js/admin_edit_rates.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<h1>{{ shipping.name }}</h1>
<div class="container row col-12">
    <table id="rates" class="table" style="width: 100%;">
        <thead>
            <th scope="col">Destination</th>
            <th scope="col">Minimum weight</th>
            <th scope="col">Maximum weight</th>
            <th scope="col">Weight step</th>
            <th scope="col">Cost per kg</th>
        </thead>
        <tbody></tbody>
    </table>    
</div>
<input type="hidden" id="shipping_id" value="{{ shipping.id }}" />
{% endblock %}
