{% extends "base.html" %}

{% block content %}
{{ super() }}

  <div class="form-wrapper">
    <h1>{{ title }}</h1>

    <form method="POST" action="/users/signup">
      {{ form.csrf_token }}

      <fieldset class="name">
        {{ form.username.label }}
        {{ form.username(placeholder='Username') }}
        {% if form.username.errors %}
          <ul class="errors">
            {% for error in form.username.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="password">
        {{ form.password.label }}
        {{ form.password }}
        {% if form.password.errors %}
          <ul class="errors">
            {% for error in form.password.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="confirm">
        {{ form.confirm.label }}
        {{ form.confirm }}
        {% if form.confirm.errors %}
          <ul class="errors">
            {% for error in form.confirm.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="email">
        {{ form.email.label }}
        {{ form.email(placeholder='youremail@example.com') }}
        {% if form.email.errors %}
          <ul class="errors">
            {% for error in form.email.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="phone">
        {{ form.phone.label }}
        {{ form.phone(placeholder='+1 1111 111 111') }}
        {% if form.phone.errors %}
          <ul class="errors">
            {% for error in form.phone.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <fieldset class="atomy_id">
        {{ form.atomy_id.label }}
        {{ form.atomy_id(placeholder='111111111') }}
        {% if form.atomy_id.errors %}
          <ul class="errors">
            {% for error in form.atomy_id.errors %}
              <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </fieldset>

      <div class="submit-button">
        {{ form.submit }}
      </div>

    </form>

    <div class="login-signup">
      <span>Already have an account? <a href="/login">Log in.</a></span>
    </div>
  </div>
{% endblock %}
