{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="static/js/admin_products.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container-fluid">
    <table id="products" class="table">
        <thead>
            <tr>
                <td></td>
                <td><input type="text" placeholder="Search Product ID" style="width: 100%;"/></td>
                <td><input type="text" placeholder="Search Name" style="width: 100%;"/></td>
                <td><input type="text" placeholder="Search Name English" style="width: 100%;"/></td>
                <td><input type="text" placeholder="Search Weight" style="width: 100%;"/></td>
                <td></td>
                <td></td>
                <td><select></select></td>
                <td><select></select></td>
            </tr>
            <tr>            
                <th></th>
                <th scope="col" style="width: 1em;">Product ID</th>
                <th scope="col" style="width: 100%;">Name</th>
                <th scope="col" style="width: 100%;">Name english</th>
                <th scope="col" style="width: 1em;">Weight</th>
                <th scope="col" style="width: 1em;">Price</th>
                <th scope="col" style="width: 1em;">Points</th>
                <th scope="col" style="width: 1em;">Available</th>
                <th scope="col" style="width: 1em;">Purchase</th>
            </tr>
        </thead>
        <tbody />
    </table>
</div>
<div id="product-form" class="edit-form">
    <fieldset class="general">
        <legend>General data</legend>
        <editor-field name="id"></editor-field>
        <editor-field name="name" ></editor-field>
        <editor-field name="name_english" ></editor-field>
        <editor-field name="name_russian" ></editor-field>
        <editor-field name="weight" ></editor-field>
        <editor-field name="price" ></editor-field>
        <editor-field name="points" ></editor-field>
        <editor-field name="available" ></editor-field>
        <editor-field name="synchronize" ></editor-field>
        <editor-field name="purchase" ></editor-field>
    </fieldset>
    <fieldset class="shipping">
        <legend>Available shipping</legend>
        <editor-field name="available_shipping"></editor-field>
    </fieldset>
    <fieldset class="apearance">
        <legend>Appearance</legend>
        <div>
            <editor-field name="color" ></editor-field>
            <div class="DTE_Field">
                <div>
                    <input id="color-text" />
                </div>
            </div>
        </div>
    </fieldset>
</div>
<div class="container product-details row" style="display: none;">
    <div class="col-7">        
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="name">Original name</label>
            </div>
            <input id="name" class="form-control" />
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="name_english">English name</label>
            </div>
            <input id="name_english" class="form-control" />
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="name_russian">Russian name</label>
            </div>
            <input id="name_russian" class="form-control" />
        </div>
    </div>
    <div class="col-2">
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="weight">Weight</label>
            </div>
            <input id="weight" class="form-control" />
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="price">Price</label>
            </div>
            <input id="price" class="form-control" />
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="points">Points</label>
            </div>
            <input id="points" class="form-control" />
        </div>
    </div>
    <div class="col-3">
        <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary btn-checkbox btn-block">
                <input type="checkbox" id="separate-shipping" autocomplete="off">
                Ships in package
            </label>
        </div>
        <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary btn-checkbox btn-block">
                <input type="checkbox" id="available" autocomplete="off">
                Unavailable
            </label>
        </div>
        <div>&nbsp;</div>
        <input type="button" class="btn btn-primary btn-save btn-block" value="Save" />
    </div>
</div>
{% endblock %}
