{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="static/js/currencies.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<h1>Currencies {{ id }}</h1>
<div class="container row col-12">
    <div class="col-8">
        <table id="currency-items" class="table" style="width: 100%;">
            <thead>
                <th scope="col">Currency Code</th>
                <th scope="col">Name</th>
                <th scope="col">Rate</th>

            </thead>
            <tbody></tbody>
        </table>
    </div>
    
</div>
{% endblock %}
