{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="static/js/admin_pv_stats.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container-fluid">
    <table id="pv_stats" class="table">
        <thead>
            <tr>
                <td><input /></td>
                <td><input /></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="col" style="width: 2em;">Node ID</th>
                <th scope="col" style="width: max-content;">Node name</th>
                <th scope="col" style="width: 8em;">PV</th>
                <th scope="col" style="width: 8em;">Network PV</th>
                <th scope="col" style="width: 8em;">When updated</th>
            </tr>
        </thead>
        <tbody />
    </table>
</div>

{% endblock %}
