.btn-checkbox {
    background: red;
}

.btn-checkbox.focus {
    background: red;
}

.btn-checkbox:not(:disabled):not(.disabled).active {
    background: green;
}

.btn-secondary:not(:disabled):not(.disabled).active {
    background: greenyellow;
    color: black;
}

.flash {
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
}
.flash-error {
    color: red;
    background-color: mistyrose;
}

.flash-info {
    color: green;
    background-color: honeydew;
}

.help-block {
    color: orange;
    background-color: peachpuff;
}

tr.orange-line {
    color: orange;
}

tr.red-line {
    color: red;
}

.subcustomer-total {
    font-weight: bold;
}

.wait {
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -249px;
}

table {
    font-size: 11px;
}

td { 
    white-space: nowrap;
}

.table td {
    padding: 0.5rem;
    vertical-align: middle;
}

td.details-control {
    background: url('/static/images/details_open.png') no-repeat center center;
    cursor: pointer;
}

td.wrapok { white-space: normal;}

th { white-space: nowrap; }

tr.shown td.details-control {
    background: url('/static/images/details_close.png') no-repeat center center;
}
