td.details-control {
    background: url('/static/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/static/images/details_close.png') no-repeat center center;
}

.subcustomer-total {
    font-weight: bold;
}

.wait {
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -249px;
}

table {
    font-size: 11px;
}