/* CSS Document */
/*@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');*/
@import url(http://fonts.googleapis.com/earlyaccess/notosanssc.css);
/*@import url(https://fonts.googleapis.com/css?family=Noto+Sans);*/

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('Noto Sans Regular'), local('Noto Sans Regular');
    src: url(/static/fonts/NotoSans-subset/NotoSans-Regular.eot);
    src: url(../fonts/NotoSans-Regular.woff2) format('woff2'),
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('Noto Sans Bold'), local('Noto Sans Bold');
    src: url(/static/fonts/NotoSans-subset/NotoSans-Bold.eot);
    src: url(../fonts/NotoSans-Bold.woff2) format('woff2'),
}

body {
    /*background: url(img/top_bg.jpg) repeat;*/
    background-color: #FFF;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

TD,
input,
DIV,
form,
TEXTAREA,
center,
option,
pre,
blockquote {
    font-size: 14px;
    color: #56605e;
    font-family: 'Noto Sans KR', 'Noto Sans SC', 'Microsoft Yahei', sans-serif !important;
    line-height: 140%
}

textarea {
    resize: none;

}

A:link {
    color: #000000;
}

A:visited {
    color: #000000;
}

A:active {
    color: #000000;
}

A:hover {
    color: #0080FF;
    cursor: pointer
}


.sub_link {
    padding-top: 10px;
    font-size: 14px;
    color: #666666;
}

.sub_link02 {
    font-size: 11px;
    color: #15a3ee;
}

.copyright_link {
    font-size: 11px;
    font-family: dotum;
    color: #676767;
}

.copyright {
    font-size: 11px;
    font-family: dotum;
    color: #919191;
}

.sub_123 {
    font-size: 12px;
    color: #0066cc;
}

.sub_red {
    font-size: 11px;
    color: #ff0000;
}

.sub_red02 {
    font-size: 12px;
    color: #ff0000;
}

.tt_r {
    font-size: 12px;
    color: #ff0000;
}

.tt_b {
    font-size: 12px;
    color: #004dff;
}

/*.img_link_bg */
/*{*/
/*background: url(/img/img_link_bg.gif) repeat;*/
/*}*/

.td_price_blue {
    font-size: 12px;
    color: #0841fb;
}

.td_price_red {
    font-size: 12px;
    color: #fb0808;
}

.td_member {
    font-size: 12px;
    color: #666666;
}

/*결재상세정보*/
.input_tt {
    border: solid 1px;
    border-color: #cccccc;
    background-color: #ffffff;
    width: 70px;
    height: 20px;
    font-weight: bold;
    text-align: right
}

.input_nation {
    border: solid 1px;
    border-color: #cccccc;
    background-color: #ffffff;
    width: 500px;
    height: 20px;
    font-weight: bold
}

.input_line {
    border: solid 1px;
    border-color: #cccccc;
    background-color: #ffffff;
    width: 70px;
    height: 20px;
    text-decoration: line-through;
    font-weight: bold;
    text-align: right
}

.input_blue {
    border: solid 1px;
    border-color: #cccccc;
    background-color: #ffffff;
    width: 70px;
    height: 20px;
    color: #004dff;
    font-weight: bold;
    text-align: right
}

.input_red {
    border: solid 1px;
    border-color: #cccccc;
    background-color: #ffffff;
    width: 70px;
    height: 20px;
    color: #ff0000;
    font-weight: bold;
    text-align: right
}


.input_member1 {
    border: solid 1px;
    border-color: #cccccc;
    background-color: #ffffff;
    width: 180px;
    height: 26px
}

.input_member2 {
    border: solid 1px;
    border-color: #cccccc;
    background-color: #ffffff;
    width: 55px;
    height: 26px
}

.input_member3 {
    border: solid 1px;
    border-color: #cccccc;
    background-color: #ffffff;
    height: 26px
}

.input_search {
    border: solid 1px;
    border-color: #cccccc;
    background-color: #ffffff;
    width: 180px;
}

.input_point {
    border: solid 1px;
    border-color: #cccccc;
    background-color: #ffffff;
    width: 60px;
    height: 20px
}

.input_name {
    border: solid 1px;
    border-color: #cccccc;
    background-color: #ffffff;
    width: 100%;
    height: 26px
}

.input_tel {
    border: solid 1px;
    border-color: #cccccc;
    background-color: #ffffff;
    height: 26px
}

.wiz_textarea {
    border: solid 1px;
    border-color: #cccccc;
    background-color: white;
    height: 38px;
    width: 97%;
}

/* Lined Tab */
.linedTab {
    padding: 0 0 0 0;
    width: 100%;
    display: inline-block;
}

.linedTab ul {
    position: relative;
    margin-left: 0px;
    padding-left: 5px;
    padding-top: 5px;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #ccc;
    font-family: 'Noto sans KR', sans-serif, Sans-serif;
    font-size: 13px;
    *zoom: 1;
}

.linedTab ul:after {
    content: "";
    display: block;
    clear: both;
}

.linedTab li {
    float: left;
    margin-bottom: -1px;
}

.linedTab li a {
    position: relative;
    float: left;
    text-decoration: none;
    border: 1px solid #eee;
    border-bottom-color: #ccc;
    background: #F6F6F6;
    color: #666;
    font-size: 15px;
}

.linedTab li a span {
    display: inline-block;
    padding: 6px 25px 6px 25px;
    letter-spacing: 2px;
    cursor: pointer;
}

.linedTab li ul {
    display: none;
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    list-style: none;
    border: 0;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    *zoom: 1;
}

.linedTab li ul:after {
    content: "";
    display: block;
    clear: both;
}

.linedTab li li {
    position: relative;
    left: -1px;
    padding: 0 10px;
    border-left: 1px solid #ddd;
    overflow: visible;
}

.linedTab li li a {
    padding: 0;
    margin: 0;
    border: 0 !important;
    color: #666 !important;
    font-weight: normal;
    background: transparent;
}

.linedTab li.selected a {
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    margin-top: -1px;
    background: transparent;
    color: #333;
}

.linedTab li.selected a span {
    padding-top: 7px;
    font-weight: bold;
}

.table_result_blue {
    background-color: #ffffff
}

/* Botton */
.button_default {
    cursor: hand;
    font-family: "Verdana", "돋움";
    font-weight: normal;
    font-size: 11px;
    color: #E6E6E6;
    height: 21px;
    Width: 100px;
    margin: 0px;
    background: #474756;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC #B6B6B6 #B6B6B6 #CCCCCC;
}

/* Botton */
.button_default2 {
    cursor: hand;
    font-family: "Verdana", "돋움";
    font-weight: normal;
    font-size: 11px;
    color: #E6E6E6;
    height: 21px;
    Width: 60px;
    margin: 0px;
    background: #474756;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC #B6B6B6 #B6B6B6 #CCCCCC;
}

/* Botton */
.button_default3 {
    cursor: hand;
    font-family: "Verdana", "돋움";
    font-weight: normal;
    font-size: 11px;
    color: #E6E6E6;
    height: 21px;
    Width: 140px;
    margin: 0px;
    background: #474756;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC #B6B6B6 #B6B6B6 #CCCCCC;
}

/*paging style*/
#paging>ul {
    list-style-type: none;
}

#paging>ul li {
    font-size: 1.1em;
    display: inline-block;
    cursor: pointer;
    padding: 0 3px;
}

#paging>ul>li:hover {
    /*background: #fbfbfb;*/
    /*font-weight:bold;*/
    color: #0080ff;
}

#paging>ul>li.selected {
    color: #0080ff;
    font-size: 1.2em;
    font-weight: bold;
    cursor: default;
}

/*export paging*/
/*paging style*/
#export_paging>ul {
    list-style-type: none;
}

#export_paging>ul li {
    font-size: 1.1em;
    display: inline-block;
    cursor: pointer;
    padding: 0 3px;
}

#export_paging>ul>li:hover {
    /*background: #fbfbfb;*/
    /*font-weight:bold;*/
    color: #0080ff;
}

#export_paging>ul>li.selected {
    color: #0080ff;
    font-size: 1.2em;
    font-weight: bold;
    cursor: default;
}


.wrapper {
    width: 1040px;
    margin: 0 auto;
}

.content-wrapper {
    min-height: 965px;
}

/*header*/
#header-menu {
    background: #1B7FDB;
    /*background: #006ED5;*/
}

#header-nav {
    background: #F6F6F6;
    margin-bottom: 20px;
}

#header-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#header-nav ul:after {
    content: "";
    display: block;
    clear: both;
}

#header-nav li {
    float: left;
    line-height: 40px;
}

#header-nav li a {
    float: left;
    text-decoration: none;
    color: #444551;
}

#header-nav li a span {
    display: inline-block;
    padding: 0 20px;
    line-height: 44px;
    font-size: 15px;
    letter-spacing: 4px;
    cursor: pointer;
}

#header-nav li a span:hover {
    border-bottom: 3px solid #7C8599;
    color: #000;
}

#header-nav li.selected a span {
    font-weight: bold;
    color: #0E81EC;
    border-bottom: 3px solid #0E81EC;
}

/*order_list header*/
.order_warpper {
    width: 1040px;
    margin: 0 auto;
}

#order_header_nav {
    background: #F6F6F6;
    margin-bottom: 20px;
}

#order_header_nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#order_header_nav ul:after {
    content: "";
    display: block;
    clear: both;
}

#order_header_nav li {
    float: left;
    line-height: 40px;
}

#order_header_nav li a {
    float: left;
    text-decoration: none;
    color: #444551;
}

#order_header_nav li a span {
    display: inline-block;
    padding: 0 20px;
    line-height: 44px;
    font-size: 15px;
    letter-spacing: 4px;
    cursor: pointer;
}

#order_header_nav li a span:hover {
    border-bottom: 3px solid #7C8599;
    color: #000;
}

#order_header_nav li.selected a span {
    font-weight: bold;
    color: #0E81EC;
    border-bottom: 3px solid #0E81EC;
}

/*menu*/
.menu-wrapper {
    position: relative;
    display: inline-block;
}

.sub-menu-list {
    display: none;
    position: absolute;
    background: #474756;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
}

.menu-wrapper:hover .sub-menu-list {
    display: block;
}

/*page header*/
.div-page-title {
    padding: 0 0 0 18px;
    margin: 24px 0 36px 0;
    border-left: 2px solid #3B3B4B;
}

.div-page-title span {
    text-align: left;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
    color: #474756;
    letter-spacing: 2px;
}

.main-header {
    margin: 10px 0;
    padding: 0 0 8px 4px;
    border-bottom: 1px solid #929292;
    text-align: left;
}

.main-header h1 {
    font-size: 20px;
    margin: 0;
    display: inline-block;
}

.main-header h1>i {
    margin-right: 8px;
}

.main-header .breadcrumb {
    font-size: 14px;
    float: right;
}

.breadcrumb>a {
    text-decoration: underline;
    font-weight: bold;
}

.breadcrumb>i {
    padding: 0 8px;
}

.main-header-box {
    margin: 10px 0;
    padding: 16px 0;
    display: inline-block;
    width: 100%;
    background: #ECECEC;
    /*border-top: 1px solid #CCC;*/
    /*border-bottom: 1px solid #CCC;*/
    color: #656565;
    text-align: center;
}

.main-table-header {
    text-align: center;
    height: 44px;
    background: #F8F8F8;
    /*border-top: 2px solid #0E81EC;*/
    border-top: 2px solid #A1A6AC;
    border-bottom: 1px solid #DDDDDD;
}

.main-table-header>td,
th {
    font-weight: bold;
    font-size: 14px !important;
    color: #000;
}

table.b2b-table {
    border-collapse: collapse;
    font-size: 16px;
    width: 100%;
}

table.b2b-table th {
    text-align: center;
    height: 44px;
    background: #F8F8F8;
    border-bottom: 1px solid #DDDDDD;
}

table.b2b-table td {
    text-align: center;
    height: 36px;
    border-bottom: 1px solid #DDDDDD;
}

table.b2b-table tr:hover {
    background-color: #CDE5F0;
}


/*footer*/
#footer {
    background: #9798A4;
    padding: 40px 0 0 0;
    height: 185px;
    margin-top: 30px;
}

#footer a {
    color: #FFF;
}

#footer a.link {
    text-decoration: none;
    margin-right: 60px;
}

#footer a.util {
    margin-right: 16px;
    text-decoration: underline;
}

#footer p {
    color: #E4E5EA;
    line-height: 1.3;
}

/*button*/
input[type=button] {
    border: 0;
}

button[type=button] {
    border: 0;
}

.btn {
    padding: 5px 10px;
    display: inline-block;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    cursor: pointer;
}

a.btn {
    text-decoration: none;
}

.btn.disabled {
    background: #B7B8C1 !important;
}

.btn-md {
    padding: 7px 28px;
    font-size: 14px;
    letter-spacing: 1px;
}

.btn-lg {
    padding: 10px 50px;
    font-size: 16px;
    letter-spacing: 1px;
}

.btn-full {
    width: 100%;
    padding: 16px 0;
    font-size: 20px;
    letter-spacing: 2px;
}

.btn-default {
    background: #505062;
    color: #F8F8F8;
}

.btn-default:hover {
    background: #40414D;
    color: #FFF;
}

/*.btn-primary { background: #4957DE; color:#F3F3F3 !important; }*/
/*.btn-primary:hover { background: #3746D0; color: #FFF !important; }*/
.btn-primary {
    background: #0E81EC;
    color: #F3F3F3 !important;
}

.btn-primary:hover {
    background: #107CE1;
    color: #FFF !important;
}

.btn-submit {
    background: #0BB13E;
    color: #FFF;
}

.btn-submit:hover {
    background: #0BA63B;
}

.btn-outline {
    border: 1px solid #5D5E6E !important;
    color: #40414D !important;
}

.btn-outline:hover {
    background: #5D5E6E !important;
    border: 1px solid #5D5E6E !important;
    color: #FFF !important;
}

.btn-outline-light {
    border: 1px solid #F6F6F6 !important;
    color: #F6F6F6 !important;
}

.btn-outline-light:hover {
    background: #F6F6F6 !important;
    border: 1px solid #F6F6F6 !important;
    color: #333 !important;
}

.btn-darkgrey-outline {
    background-color: #FFF;
    border: 1px solid #3F4152 !important;
    color: #3F4152 !important;
}

.btn-darkgrey-outline:hover {
    background-color: #3F4152;
    color: #FFF !important;
}

.btn-lightgrey-outline {
    background-color: #FFF;
    border: 1px solid #CDCDCD !important;
    color: #ABABAB !important;
}

.btn-lightgrey-outline:hover {
    background-color: #CDCDCD;
    color: #565656 !important;
}

.btn-blue-outline {
    background-color: #FFF;
    border: 1px solid #4169E1 !important;
    color: #4169E1 !important;
}

.btn-blue-outline:hover {
    background-color: #4169E1;
    color: #FFF !important;
}

.btn-red-outline {
    background-color: #FFF;
    border: 1px solid #F26060 !important;
    color: #F26060 !important;
    margin-right: 10px
}

.btn-red-outline:hover {
    background-color: #F26060;
    color: #FFF !important;
}

#btn-scroll-top {
    display: none;
    background: #0E81EC;
    color: #FFF;
    padding: 10px 15px;
    border-radius: 4px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1;
    text-align: center;
    font-size: 16px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
}

#btn-scroll-top:hover {
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.5);
}

/*table*/
table {
    border-collapse: collapse;
}

/* font-awesome */
.fa-times {
    cursor: pointer;
}

.fa-times:hover {
    color: #F22B1A
}

/* iFrame */
.frame {
    border: 1px solid #555555;
    position: fixed;
    top: 100px;
    left: 100px;
    z-index: 100;
    padding: 10px;
    background-color: #FFFFFF;
}

.wrapper-blur {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 3;
    opacity: 0.8;
    display: none;
}

/*  myems modal */
#wrapper-blur,
#second-wrapper-blur {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 3;
    opacity: 0.4;
}

#user_modal,
#second_user_modal {
    /*display: table;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    position: fixed;
    background: #FAFAFA;
    font-size: 20px;
    text-align: center;
    min-height: 250px;
    min-width: 560px;
    z-index: 200;
    /*border: 1px solid #333;*/
    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7);*/
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.modal_header {
    overflow: hidden;
    margin: 10px 0;
}

.modal_header .modal_close,
.second_modal_close {
    float: right;
    padding: 0px 12px;
    font-size: 18px;
    color: #747474;
}

.modal_body {
    /*width: 100%;*/
    /*height: 70%;*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    /*border: 1px solid #EEEEEE;*/
    /*text-align: center;*/
    min-height: 180px;
    line-height: 180px;
    font-size: 18px;
    padding: 0 40px;
    box-sizing: border-box;
}

.modal_body>span {
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
}

.modal_footer {
    /*display: table-row;*/
    /*vertical-align: middle;*/
    /*border: 1px solid #EEEEEE;*/
    /*width: 100%;*/
    /*text-align: center;*/
    padding: 15px 40px;
    box-sizing: border-box;
}

.modal_btn,
.second_modal_btn {
    /*font-family: 'Noto sans KR', sans-serif, Sans-serif;
    height: 40px;
    width: 180px;
    border: 1px solid #999 !important;
    font-size: 18px;
    cursor: pointer;*/
    background: #FAFAFA;
    margin-right: 20px;
    border-radius: 4px;
}

.modal_btn:last-child {
    margin-right: 0;
}

/*.modal_btn:hover {
    background-color: #0080ff;
    color: #FFFFFF;
}*/

/* tooltip UI
 * usage : add "tooltip" attribute to the element and add content to its value
 * usage : add "tooltip-persistent" attribute to the element to make it visible when hover
 * 예) <div tooltip="툴팁 내용">원래 보이는 내용</div>
 * 예) <div tooltip="툴팁 내용 - 마우스 올리면 계속 보임" tooltip-persistent>원래 보이는 내용</div>
 */
[tooltip]:before {
    /* do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;

    /* customizable */
    transition: all 0.15s ease;
    padding: 4px 8px;
    color: #333;
    border-radius: 4px;
    box-shadow: 2px 2px 1px #C7AAAA;
    max-width: 250px;
}

[tooltip]:hover:before {
    /* do not touch */
    opacity: 1;

    /* customizable */
    font-size: 15px;
    background: #FFEBEA;
    margin-top: -30px;
    margin-left: 25px;
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}