{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="static/js/admin_warehouse_products.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<input type="hidden" id="warehouse_id" value="{{ warehouse.id }}" />
<h3>Warehouse: {{ warehouse.name }}</h3>
<div class="container-fluid">
    <table id="warehouse_products" class="table">
        <thead>
            <tr>
                <th scope="col" style="width: 2em;">Product&nbsp;ID</th>
                <th scope="col" style="width: max-content;">Product Name</th>
                <th scope="col" style="width: 8em;">Quantity</th>
            </tr>
        </thead>
        <tbody />
    </table>
</div>

{% endblock %}
