{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="static/js/admin_subcustomers.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container-fluid">
    <table id="subcustomers" class="table">
        <thead>
            <tr>
                <td><input type="text" placeholder="Search ID" style="width: 100%;"/></td>
                <td><input type="text" placeholder="Search name" style="width: 100%;"/></td>
                <td><input type="text" placeholder="Search username" style="width: 100%;"/></td>
                <td></td>
                <td><select></select></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="col" style="width: 2em;">Subcustomer ID</th>
                <th scope="col" style="width: max-content;">Name</th>
                <th scope="col" style="width: 2em;">User name</th>
                <th scope="col" style="width: 2em;">Password</th>
                <th scope="col" style="width: 2em;">In network</th>
                <th scope="col" style="width: 8em;">When created</th>
                <th scope="col" style="width: 8em;">When changed</th>
            </tr>
        </thead>
        <tbody />
    </table>
</div>
{% endblock %}
