{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="static/js/admin_order_products.js"></script>
{% endblock %}
    
{% block content %}
{{ super() }}
<div class="container-fluid">
    <h1>Order products</h1>
    <table id="order_products" class="table">
        <thead>
            <th></th>
            <th scope="col" style="width: 1em;">ID</th>
            <th scope="col" style="width: 1em;">Order ID</th>
            <th scope="col">Customer</th>
            <th scope="col" style="width: 2em;">Subcustomer</th>
            <th scope="col" style="width: 1em;">Buyout date</th>
            <th scope="col" style="width: 1em;">Product ID</th>
            <th scope="col">Product name</th>
            <th scope="col">Price</th>
            <th scope="col" style="width: 1em;">Qty</th>
            <th scope="col">Status</th>
            <th scope="col">When created</th>
        </thead>
        <tbody></tbody>
    </table>
</div>
{% endblock %}
