{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="static/js/admin_orders.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container-fluid">
    <div class="container-fluid row">
        <div class="col-9">&nbsp;</div>
        <div class="input-group col-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="usd_rate">USD rate</label>
            </div>
            <input id="usd_rate" class="form-control" value="{{ usd_rate }}" />
        </div>
    </div>
    <table id="orders" class="table">
        <thead>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="text" placeholder="Search Order ID" style="width: 100%;"/></td>
                <td><input type="text" placeholder="Search Creator"  style="width: 100%;"/></td>
                <td><input type="text" placeholder="Search Customer"  style="width: 100%;"/></td>
                <td></td>
                <td></td>
                <td></td>
                <td><select></select></td>
                <td><select></select></td>
                <td><select></select></td>
                <td><select></select></td>
                <td><input type="date" style="width: 100%;"/></td>
                <td><input type="date" style="width: 100%;"/></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th scope="col" style="width: 2em;">Order&nbsp;ID</th>
                <th scope="col" style="width: 2em;">Creator</th>
                <th scope="col" style="width: max-content;">Customer</th>
                <th scope="col" style="width: 2em;">Subtotal (KRW)</th>
                <th scope="col" style="width: 2em;">Shipping (KRW)</th>
                <th scope="col" style="width: 2em;">Total (KRW)</th>
                <th scope="col" style="width: 2em;">Status</th>
                <th scope="col" style="width: 2em;">Payment method</th>
                <th scope="col" style="width: 2em;">Shipping method</th>
                <th scope="col" style="width: 2em;">Country</th>
                <th scope="col" style="width: 2em;">Purchase date</th>
                <th scope="col" style="width: 8em;">When PO posted</th>
                <th scope="col" style="width: 8em;">When changed</th>
                <th scope="col" style="width: 8em;">When changed</th>
            </tr>
        </thead>
        <tbody />
    </table>
</div>

<div class="row order-details container-fluid" style="display: none;">
    <div class="row col-10">
        <div class="col-9">
            <table id="order-products" class="table" style="width: 100%;">
                <thead>
                    <th scope="col" style="width: 1em;">Subcustomer</th>
		            <th scope="col" style="width: 1em;">Purchase date</th>
                    <th scope="col" style="width: 1em;">Product ID</th>
                    <th scope="col">Name</th>
                    <th scope="col" style="width: 1em;">Price</th>
                    <th scope="col" style="width: 1em;">Qty</th>
                    <th scope="col" style="width: 1em;">Status</th>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="col-3">
            <div id='status-input-group' class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <label id="label" class="input-group-text" for="status">Status</label>
                </div>
                <div style="flex: 1;">
                    <select id="status" class="form-control" aria-label="Small" aria-describedby="label"></select>
                </div>
            </div>
            <div id='invoice-input-group' class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <label id="label" class="input-group-text" for="invoice-id">Invoice</label>
                </div>
                <input id="invoice-id" class="form-control" aria-label="Small" aria-describedby="label" disabled />
            </div>
            <div id='shipping-input-group' class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <label id="label" class="input-group-text" for="shipping">Shipping method</label>
                </div>
                <input id="shipping" class="form-control" aria-label="Small" aria-describedby="label" disabled />
            </div>
            <div id='subtotal-input-group' class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <label id="label" class="input-group-text" for="subtotal">Subtotal</label>
                </div>
                <input id="subtotal" class="form-control" aria-label="Small" aria-describedby="label" disabled />
                <div class="input-group-append">
                    <label id="label" class="input-group-text" for="subtotal">₩</label>
                </div>            
            </div>
            <div id='shipping-cost-input-group' class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <label id="label" class="input-group-text" for="shipping-cost">Shipping cost</label>
                </div>
                <input id="shipping-cost" class="form-control" aria-label="Small" aria-describedby="label" disabled />
                <div class="input-group-append">
                    <label id="label" class="input-group-text" for="shipping-cost">₩</label>
                </div>            
            </div>
            <div id='total-input-group' class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <label id="label" class="input-group-text" for="total">Total</label>
                </div>
                <input id="total" class="form-control" aria-label="Small" aria-describedby="label" disabled />
                <div class="input-group-append">
                    <label id="label" class="input-group-text" for="total">₩</label>
                </div>            
            </div>
            <div id='tracking-id-input-group' class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <label id="label" class="input-group-text" for="tracking-id">Tracking ID</label>
                </div>
                <input id="tracking-id" class="form-control" aria-label="Small" aria-describedby="label" />
            </div>
            <div id='tracking-url-input-group' class="input-group input-group-sm mb-2">
                <div class="input-group-prepend">
                    <label id="label" class="input-group-text" for="tracking-url">Tracking URL</label>
                </div>
                <input id="tracking-url" class="form-control" aria-label="Small" aria-describedby="label" />
            </div>
            <input id="comment" class="form-control" aria-label="Small" aria-describedby="label" disabled/>
        </div>
    </div>
    <div class="col-2">
        <button class="btn btn-primary btn-block btn-save">Save</button>
        <button class="btn btn-red btn-block btn-delete">Delete order</button>
    </div>
</div>
{% endblock %}
