{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="static/js/orders.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<li class="navbar-text ps-2" style="
padding-top: 0px; padding-bottom: 0px;
font-size: 0.7rem; text-align:right; font-weight: bolder;">
<style>
    .currency {
        margin-right: 1em;
    }
</style>
{% for currency in currencies %}
    <span class="currency">
        {{ currency.code }}:{{ currency.display_rate }}
        <input type="hidden" id="{{currency.code}}-rate" value="{{ currency.rate }}" />
    </span>
{% endfor %}
</li>
<div class="container-fluid">
    <table id="orders" class="table">
        <thead>
            <tr>
                <td></td>
                <td></td>
                <td><input /></td>
                <td><input /></td>
                <td></td>
                <td></td>
                <td></td>
                <td><select></select></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th scope="col" style="width: 2em;">Order ID</th>
                <th scope="col" style="width: 100%;">Customer name</th>
                <th scope="col" style="width: 2em;">Total (KRW)</th>
                <th scope="col" style="width: 2em;">Total (EUR)</th>
                <th scope="col" style="width: 2em;">Total (USD)</th>
                <th scope="col" style="width: 2em;">Status</th>
                <th scope="col" style="width: 2em;">When created</th>
                <th scope="col" style="width: 2em;">When changed</th>
            </tr>
        </thead>
        <tbody />
    </table>
</div>

<div class="row order-details container-fluid" style="display: none;">
    <div id='tracking-id-input-group' class="input-group input-group-sm mb-2">
        <div class="input-group-prepend">
            <label id="label" class="input-group-text" for="tracking-id">Tracking ID</label>
        </div>
        <input id="tracking-id" class="form-control" aria-label="Small" aria-describedby="label" disabled />
    </div>
    <div id='tracking-url-input-group' class="input-group input-group-sm mb-2">
        <div class="input-group-prepend">
            <label id="label" class="input-group-text" for="tracking-url">Tracking URL</label>
        </div>
        <input id="tracking-url" class="form-control" aria-label="Small" aria-describedby="label" disabled />
    </div>
    <input id="comment" class="form-control" aria-label="Small" aria-describedby="label" disabled/>
</div>
{% endblock %}
