{% extends "base.html" %}

{% block navbar %}
{% endblock %}

{% block content %}
{{ super() }}
<h1>Order {{ order.id }}</h1>
<h2>{{ order.customer_name }}</h2>
<table class="table">
  <tbody>
    <tr>
      <td><h5>Shipping method</h5></td>
      <td><h5>Parcel weight</h5></td>
    </tr>
    <tr>
      <td>{{ order.shipping.name }}</td>
      <td>{{ order.total_weight }}</td>
    </tr>
    <tr>
      <td><h5>Address</h5></td>
      <td><h5>Phone</h5></td>
    </tr>
    <tr>
      <td>
        {{ order.address }}<br />
        {{ order.zip }}<br />
        {{ order.country.name }}
      </td>
      <td>{{ order.phone }}</td>
    </tr>
    <tr>
      <td><h5>Counterpart company</h5>:</td>
      <td>{{ order.get_payee() }}</td>
    </tr>
    <tr>
      <td><h3>Orders to be shipped with this one:</h3></td>
      <td>
        {% for ao in order.attached_orders %}
        <h3>{{ ao.id }}</h3>
        {% endfor %}
      </td>
    </tr>
  </tbody>
</table>
{% for suborder in order.suborders %}
<h3>
  {{ suborder.id }}: {{ suborder.subcustomer.name }}
  <span class="h5">
    {{ suborder.subcustomer.username }} {{ suborder.subcustomer.password }}
  </span>
</h3>
<table class="table">
  <thead>
    <th scope="col" style="width: 1em;">Product ID</th>
    <th scope="col">Product Name</th>
    <th scope="col" style="width:1em;">Qty</th>
    <th scope="col">Public comment</th>
    <th scope="col">Private comment</th>
  </thead>
  <tbody>
    {% for order_product in suborder.order_products %}
    <tr>
      <td>{{ order_product.product.id }}</td>
      <td>{{ order_product.product.name_russian if order_product.product.name_russian else order_product.product.name }}</td>
      <td>{{ order_product.quantity }}</td>
      <td>{{ order_product.public_comment }}</td>
      <td>{{ order_product.private_comment }}</td>
    {% endfor %}
    </tr>
  </tbody>
</table>
{% endfor %}
{% endblock %}
