{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="static/js/order_drafts.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container-fluid">
    <table id="order_drafts" class="table">
        <thead>
            <tr>
                <th></th>
                <th scope="col" style="width: 2em;">Order ID</th>
                <th scope="col" style="width: 100%;">Customer name</th>
                <th scope="col" style="width: 2em;">Total ({{ base_country.currency_code }})</th>
                <th scope="col" style="width: 2em;">Total (EUR)</th>
                <th scope="col" style="width: 2em;">Total (USD)</th>
                <th scope="col" style="width: 2em;">When created</th>
                <th scope="col" style="width: 2em;">When changed</th>
            </tr>
        </thead>
        <tbody />
    </table>
</div>
{% endblock %}