{% extends "base.html" %}

{% block navbar %}
{% endblock %}

{% block content %}
{{ super() }}
<h1>Order {{ order.id }}</h1>
<h2>{{ order.name }}</h2>
<table class="table">
  <thead>
    <th scope="col">Shipping method</th>
    <th scope="col">Parcel weight</th>
  </thead>
  <tbody>
    <tr>
      <td>{{ order.shipping.name }}</td>
      <td>{{ order.total_weight }}</td>
    </tr>
  </tbody>
</table>
{% for suborder in order.suborders %}
<h3>
  {{ suborder.id }}: {{ suborder.subcustomer.name }}
  <span class="h5">
    {{ suborder.subcustomer.username }} {{ suborder.subcustomer.password }}
  </span>
</h3>
<table class="table">
  <thead>
    <th scope="col" style="width: 1em;">Product ID</th>
    <th scope="col">Product Name</th>
    <th scope="col" style="width:1em;">Qty</th>
    <th scope="col">Public comment</th>
    <th scope="col">Private comment</th>
  </thead>
  <tbody>
    {% for order_product in suborder.order_products %}
    <tr>
      <td>{{ order_product.product.id }}</td>
      <td>{{ order_product.product.name_russian if order_product.product.name_russian else order_product.product.name }}</td>
      <td>{{ order_product.quantity }}</td>
      <td>{{ order_product.public_comment }}</td>
      <td>{{ order_product.private_comment }}</td>
    {% endfor %}
    </tr>
  </tbody>
</table>
{% endfor %}
{% endblock %}
