{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="static/js/admin_invoices.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container-fluid">
    <table id="invoices" class="table">
        <thead>
            <tr>
                <td></td>
                <td><input /></td>
                <td><input /></td>
                <td><input /></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th></th>
                <th scope="col" style="width: 2em;">Invoice&nbsp;ID</th>
                <th scope="col" style="width: 2em;">Customer</th>
                <th scope="col" style="width: 100%;">Order&nbsp;IDs</th>
                <th scope="col" style="width: 2em;">Total (USD)</th>
                <th scope="col" style="width: 2em;">When created</th>
                <th scope="col" style="width: 2em;">When changed</th>
            </tr>
        </thead>
        <tbody />
    </table>
</div>
{% endblock %}
