{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="static/js/admin_users.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container-fluid">
    <table id="users" class="table">
        <thead>
            <th scope="col" style="width: 1em;">User ID</th>
            <th scope="col" style="width: 100%;">UserName</th>
            <th scope="col" style="width: 1em;">Email</th>
            <th scope="col" style="width: 1em;">Enabled</th>
            <th scope="col" style="width: 1em;">Created</th>
            <th scope="col" style="width: 1em;">Changed</th>
        </thead>
        <tbody />
    </table>
</div>
<div id="user-form" class="edit-form">
    <fieldset class="general">
        <legend>General data</legend>
        <editor-field name="username" ></editor-field>
        <editor-field name="password" ></editor-field>
        <editor-field name="confirm" ></editor-field>
        <editor-field name="email" ></editor-field>
        <editor-field name="phone" ></editor-field>
        <editor-field name="atomy_id" ></editor-field>
    </fieldset>
    <fieldset class="roles">
        <legend>Assigned roles</legend>
        <editor-field name="roles[].id"></editor-field>
    </fieldset>
</div>
{% endblock %}
