{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="static/js/purchase_orders.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container-fluid">
    <table id="purchase_orders" class="table">
        <thead>
            <tr>
                <td></td>
                <td><input /></td>
                <td><input /></td>
                <td></td>
                <td><input type="date" /></td>
                <td></td>
                <td></td>
                <td><select></select></td>
                <td><input /></td>
                <td><input /></td>
                <td><select></select></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th></th>
                <th scope="col" style="width: 2em;">PO ID</th>
                <th scope="col" style="width: 100%;">Customer name</th>
                <th scope="col" style="width: 2em;">Total (KRW)</th>
                <th scope="col" style="width: 2em;">Purchase date</th>
                <th scope="col" style="width: 2em;">Purchase restricted</th>
                <th scope="col" style="width: 2em;">Company</th>
                <th scope="col" style="width: 2em;">Vendor</th>
                <th scope="col" style="width: 2em;">Vendor PO ID</th>
                <th scope="col" style="width: 2em;">Account</th>
                <th scope="col" style="width: 2em;">Status</th>
                <th scope="col" style="width: 2em;">When created</th>
                <th scope="col" style="width: 2em;">When changed</th>    
            </tr>
        </thead>
        <tbody />
    </table>
</div>
{% endblock %}
