{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="static/js/purchase_orders.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container-fluid">
    <table id="purchase_orders" class="table">
        <thead>
            <th></th>
            <th scope="col" style="width: 2em;">PO ID</th>
            <th scope="col" style="width: 100%;">Customer name</th>
            <th scope="col" style="width: 2em;">Total (KRW)</th>
            <th scope="col" style="width: 2em;">Vendor PO ID</th>
            <th scope="col" style="width: 2em;">Account</th>
            <th scope="col" style="width: 2em;">Status</th>
            <th scope="col" style="width: 2em;">When created</th>
            <th scope="col" style="width: 2em;">When changed</th>
        </thead>
        <tbody />
    </table>
</div>
{% endblock %}
