{% extends "bootstrap/base.html" %}

{% block metas %}
<meta charset="utf-8">
{{ super() }}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/b-1.6.3/b-print-1.6.3/sl-1.3.1/datatables.min.css"/>
<link rel="stylesheet" href="/static/css/main.css" />    
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/b-1.6.3/b-print-1.6.3/sl-1.3.1/datatables.min.js"></script>
{% endblock %}

{% block navbar %}
{{ super() }}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {% if current_user.username == 'admin' %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Admin
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/products">Products</a>
            <a class="dropdown-item" href="/admin/orders">Orders</a>
            <a class="dropdown-item" href="/admin">Order products</a>
            <a class="dropdown-item" href="/admin/invoices">Invoices</a>
            <a class="dropdown-item" href="/admin/transactions">Transactions</a>
          </div>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="/new_order">New order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block content %}
{{ super() }}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="flash flash-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="wait position-fixed" style="display: none;">
  <img src="/static/images/wait.gif" style="z-index: 1000;" />
</div>
{% endblock %}

{% block body %}
{{ super() }}
{% block footer %}
<div class="container-fluid py-5"></div>
{% endblock %}
{% endblock %}