{% if crisp_id %}
<!-- Start of Crisp code -->
<script type="text/javascript">
  window.$crisp=[];
  window.CRISP_WEBSITE_ID="{{ crisp_id }}";
  (function(){
    d=document;
    s=d.createElement("script");
    s.src="https://client.crisp.chat/l.js";
    s.async=1;
    d.getElementsByTagName("head")[0].appendChild(s);
    $crisp.push(["set", "user:nickname", ["{{ security.datastore.get_user(session['_user_id']).username if session.get('_user_id') else 'Guest' }}"]]);
  })();
</script>
<!-- End of LiveChat code -->
{% endif %}