{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="/static/js/admin_invoices.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container-fluid">
    <table id="invoices" class="table">
        <thead>
            <th></th>
            <th scope="col" style="width: 2em;">Invoice&nbsp;ID</th>
            <th scope="col" style="width: 2em;">Order&nbsp;IDs</th>
            <th scope="col" style="width: 2em;">Total (KRW)</th>
            <th scope="col" style="width: max-content;">When created</th>
            <th scope="col" style="width: max-content;">When changed</th>
        </thead>
        <tbody />
    </table>
</div>

<div class="row invoice-details container-fluid" style="display: none;">
    <div class="col-4">
    </div>
    <div class="col-8">
        <button class="btn btn-primary btn-block btn-save">Save</button>
    </div>
</div>
{% endblock %}
