{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="/static/js/product_catalog.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container-fluid">
    <table id="products" class="table">
        <thead>
            <th></th>
            <th scope="col" style="width: 1em;">Product ID</th>
            <th scope="col" style="width: 100%;">Name</th>
            <th scope="col" style="width: 1em;">Weight</th>
            <th scope="col" style="width: 1em;">Price</th>
            <th scope="col" style="width: 1em;">Points</th>
        </thead>
        <tbody />
    </table>
</div>
<div class="wait position-fixed" style="display: none;">
    <img src="/static/images/wait.gif" />
</div>
{% endblock %}
