{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    {{ super() }}
    <div class="form-wrapper">
        <h1>{{ title }}</h1>
    
        <form method="POST">
          {{ form.csrf_token }}
    
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    {{ form.amount_original.label(class_="input-group-text") }}
                </div>
                {{ form.amount_original(class_="form-control") }}
            </div>
            {% if form.amount_original.errors %}
                <ul class="errors">
                {% for error in form.amount_original.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
    
            <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
                <div class="input-group-prepend">
                    {{ form.currency_code.label(class_="input-group-text") }}
                </div>
                {% for option in form.currency_code %}
                <label class="btn btn-secondary active">
                    {{ option }} {{ option.label.text }}
                </label>
                {% endfor %}
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    {{ form.order_id.label(class_="input-group-text") }}
                </div>
                {{ form.order_id(class_="custom-select") }}
            </div>
    
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    {{ form.payment_method.label(class_="input-group-text") }}
                </div>
                {{ form.payment_method(class_="custom-select") }}
            </div>
    
            <div class="custom-file mb-3">
                {{ form.evidence(class_="custom-file-input") }}
                {{ form.evidence.label(class_="custom-file-label form-control") }}
            </div>

            {{ form.submit(class_="btn btn-primary") }}
        </form>
    </div>
{% endblock %}