{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="/static/js/wallet.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container-fluid">
    <table id="transactions" class="table">
        <thead>
            <th></th>
            <th scope="col" style="width: 2em;">Transaction&nbsp;ID</th>
            <th scope="col">Order&nbsp;ID</th>
            <th scope="col">Payment&nbsp;method</th>
            <th scope="col" style="width: 2em;">Amount</th>
            <th scope="col" style="width: 2em;">Amount (KRW)</th>
            <th scope="col" style="width: 2em;">Status</th>
            <th scope="col" style="width: max-content;">When created</th>
            <th scope="col" style="width: max-content;">When changed</th>
        </thead>
        <tbody />
    </table>
</div>
<div class="container row transaction-details" style="display: none;">
    <div class="row container">
        <img id="evidence" class="col-4" />
        <div class="col-1">&nbsp;</div>
        <div class="col-4">
            <button type="button" class="btn btn-primary btn-cancel">Cancel transaction</button>
        </div>
    </div>
</div>
{% endblock %}
