{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<script src="/static/js/wallet.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container-fluid">
    <table id="transactions" class="table">
        <thead>
            <th></th>
            <th scope="col" style="width: 2em;">Transaction&nbsp;ID</th>
            <th scope="col" style="width: 2em;">Amount</th>
            <th scope="col" style="width: 2em;">Amount (KRW)</th>
            <th scope="col" style="width: 2em;">Status</th>
            <th scope="col" style="width: max-content;">When created</th>
            <th scope="col" style="width: max-content;">When changed</th>
        </thead>
        <tbody />
    </table>
</div>
<div class="wait position-fixed" style="display: none;">
    <img src="/static/images/wait.gif" />
</div>
{% endblock %}
